<a href="https://colab.research.google.com/github/yeong0000/Python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에서 원소가 저장된 위치
    * 리스트의 인덱스는 **0**부터 시작.
    * 리스트의 마지막 인덱스는 (원소 개수 -1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음.
    * `tuple`과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1,2,3,10,20,30]
numbers

[1, 2, 3, 10, 20, 30]

# 인덱싱(indexing)

인덱스를 사용해서 리스트의 원소를 참조하는 방법

In [ ]:
numbers[0] # 리스트 numbers의 인덱스 0 위치의 원소

1

In [ ]:
numbers[5]

30

In [ ]:
numbers[-1] # 리스트에서 가장 마지막 원소

30

# slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄
    * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 **리스트**.

In [ ]:
numbers

[1, 2, 3, 10, 20, 30]

In [ ]:
numbers[1:4] # 1 <= index < 4

[2, 3, 10]

In [ ]:
numbers[3:6]

[10, 20, 30]

In [ ]:
numbers[3:]

[10, 20, 30]

In [ ]:
numbers[:3] # 리스트에서 앞에서 3개를 선택

[1, 2, 3]

In [ ]:
numbers[-3:] # 리스트에서 뒤에서 3개 선택

[10, 20, 30]

In [ ]:
numbers[0:1] # slicing -> 리스트

[1]

In [ ]:
numbers[0] # indexing -> 값(숫자)

1

# 문자열(str)


* 문자들의 **리스트**.
* 문자열은 인덱스를 사용할 수 있음
* indexing, slicing 가능

In [ ]:
message = '안녕하세요, 여러분!' # 11개의 문자들로 이루어진 리스트.

In [ ]:
message[0] # 문자열에서 첫번째 문자

'안'

In [ ]:
message[-1] # 문자열에서 마지막 문자

'!'

In [ ]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3:] # 문자열에서 뒤에서 3글자

'러분!'

In [ ]:
# 문자열 산술 연산: +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산

* `list` + `list`
* `list` * `int` 또는 `int` * `list`

In [ ]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list와 for 반복문

In [ ]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [ ]:
numbers = [1,10,5,100]
for x in numbers:
    print(x)

1
10
5
100

In [ ]:
for x in range(len(numbers)): # 0 <= x < len
    print(x)

0
1
2
3

In [ ]:
for i in range(len(numbers)): # 0 <= x < len
    print(i, ':', numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
for i, v in enumerate(numbers):
    print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1,2,3]
numbers2 = [10,11,12]
# numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
# [11,13, 15]

In [ ]:
result = [] # 빈(empty) 리스트
for i in range(len(numbers1)): # 0 <= i < len
    result.append(numbers1[i] + numbers2[i])

result

[11, 13, 15]

In [ ]:
result = []
for x, y in zip(numbers1, numbers2):
    result.append(x + y)

result

[11, 13, 15]

In [ ]:
import random # random 모듈을 임포트

In [ ]:
# random 모듈의 random() 함수를 호출
random.random() # [0,1) 범위 (0 <= x < 1)의 실수 난수를 리턴.

0.6300078412496064

In [ ]:
# random 모듈의 randrange() 함수를 호출
random.randrange(10) # [0,10) 범위의 정수 난수를 리턴.

3

In [ ]:
random.randrange(1,4) #[1,4)범위의 정수 난수를 리턴.

3

# Exercises
Ex 1.

1. 빈 리스트를 생성.
2. 1 이상 10 이하의 정수 난수 5개를 저장.
3. 리스트의 모든 정수들의 합을 출력.
4. 리스트의 모든 정수들의 평균을 출력.

In [ ]:
import random

In [ ]:
numbers = []
for x in range(1,6):
    number = random.randrange(1,11)
    numbers.append(number)
print(numbers)

[8, 5, 8, 7, 10]

In [ ]:
sum_list = sum(numbers)
print(sum_list)

38

In [ ]:
(sum_list) / 5

7.6

Ex 2.
1. 빈 리스트(numbers)를 생성.
2. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
3. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
4. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [ ]:
numbers = []
for x in range(1,10):
    number = random.randrange(10,101)
    numbers.append(number)
print(numbers)

[21, 59, 82, 34, 42, 25, 37, 10, 84]

In [ ]:
evens = []
odds = []
for number in numbers:
    if int(number) % 2 == 0:
        evens.append(number)
    else:
        odds.append(number)
print(evens)
print(odds)

[82, 34, 42, 10, 84]
[21, 59, 25, 37]

Ex 3.
1. 빈 리스트 numbers를 만듦.
2. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
3. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [ ]:
numbers = []
for x in range(1,10):
    number = random.randrange(-10,11)
    numbers.append(number)
print(numbers)

is_positive = []
for x in numbers:
    if (x > 0):
        is_positive.append('True')
    else:
        is_positive.append('False')
print(is_positive)

[4, 5, 2, 8, 8, 1, -1, -5, 10]
['True', 'True', 'True', 'True', 'True', 'True', 'False', 'False', 'True']

Ex 4.
1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
2. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
gender_codes = []
for x in range(1,10):
    gender = random.randrange(0,2)
    gender_codes.append(gender)
print(gender_codes)

genders = []
for x in gender_codes:
    if(x == 0):
        genders.append('Male')
    else:
        genders.append('Female')
print(genders)

[0, 1, 0, 1, 1, 0, 0, 0, 0]
['Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male']

Ex 5.
1. numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
2. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.
3. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
4. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트.

numbers1, numbers2, multiplication, subtraction를 출력.

In [ ]:
numbers1 = []
numbers2 = []
for x in range(1,10):
    number1 = random.randrange(1,101)
    number2 = random.randrange(1,101)
    numbers1.append(number1)
    numbers2.append(number2)
print(numbers1)
print(numbers2)

multiplication = []
for x, y in zip(numbers1, numbers2):
    multiplication.append(x * y)
print(multiplication)

subtraction = []
for x,y in zip(numbers1, numbers2):
    subtraction.append(x - y)
subtraction

[56, 22, 1, 26, 87, 97, 86, 6, 38]
[85, 30, 68, 58, 27, 46, 27, 6, 51]
[4760, 660, 68, 1508, 2349, 4462, 2322, 36, 1938]

[-29, -8, -67, -32, 60, 51, 59, 0, -13]